@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "telegraf";   /*Can be any text*/
  src: local("pp-telegraf"),
    url("./assets/pp-telegraf.ttf") format("truetype");
}

@font-face {
  font-family: "telegraf-bold";   /*Can be any text*/
  src: local("pp-telegraf-ultra"),
    url("./assets/pp-telegraf-ultra.ttf") format("truetype");
}

.tts {
  font-family: telegraf-bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Nunito Sans', sans-serif !important; */
  font-family: telegraf;
}

.bgs {
  background: url(./assets/images/bgs.svg)center/cover;
}

.pls {
  background: url(./assets/images/pls.svg)center/cover;
}

.btn {
  background: linear-gradient(180deg, #76B3F9 0%, #4272F6 100%);
}
.btn2 {
  background: linear-gradient(90deg, #76B3F9 6.37%, #4272F6 100%);
}

.input {
  width: 100%;
  border: 1px solid #eaeaea;
  padding: 0.875rem;
  border-radius: 0.375rem;
  outline: none;
}

.scrolls::-webkit-scrollbar {
  width: 4px;
}

.scrolls::-webkit-scrollbar-thumb {
  width: 4px;
  background: lightgrey;
  border-radius: 10px;
}

.scrollsdown::-webkit-scrollbar {
  height: 4px;
}

.scrollsdown::-webkit-scrollbar-thumb {
  height: 4px;
  /* background: lightgrey;
  border-radius: 10px; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

textarea {
  resize: none;
}

.tops {
  animation: tops 200ms;
}

@keyframes tops {
  from {
    transform: translateY(-40rem);
  }

  to {
    transform: translateY(0rem);
  }
}

.sloader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #0000);
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  z-index: -10!important;
}

table thead tr th {
  color: grey;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 0.85rem;
  padding: 0.8rem;
}

table tbody tr td {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 0.85rem;
  padding: 1rem 0.8rem;
  text-align: center;
}
.tablediv {
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 20px 6px lightgrey;
  background: white;
  padding: 4rem 0;
  border-radius: 1.5rem;
}
table tr {
  border-bottom: 2px dotted rgb(222, 221, 221);
  position: relative;
  overflow: hidden;
}
table tbody tr:last-child {
  border-bottom: none;
  position: relative;
  overflow: hidden;
}

.tr-extra::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #e0dfdf;
}

.tr-extra::after {
  content: '';
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #e0dfdf;
}

.sidebar {
  animation: sidebar 300ms;
}

@keyframes sidebar {
  from {transform: translateX(-30rem);}
  to {transform: translateX(0);}
}

button:focus {
  border: none;
}

.bg-card {
  background-image: linear-gradient(to right top, #c3d16b, #ecb65f, #ff9974, #ff849b, #e380c5, #c28fe5, #92a0f9, #4faeff, #00c4ff, #00d8ff, #19ebfd, #5ffbf1);
}

.hmscreen::before {
  content: '';
  width: 80%;
  height: 1rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

/* ------------------checkbox styling start------------------------- */

/* The container */
._container {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
._container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.bannerbg {
  background: -webkit-repeating-linear-gradient(top, transparent, white)
}

/* Create a custom checkbox */
._checkmark {
  /* position: absolute;
  top: 0;
  left: 0; */
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
}

/* When the checkbox is checked, add a blue background */
._container input:checked~._checkmark {
  background-color: #fb2b56;
}

.flightIcon {
  position: absolute;
  top: 70%;
  z-index: 9;
  left: -3%;
  width: 2rem;
}

@media screen and (min-width: 568px) {
  .flightIcon {
    left: 95%;
    top: 20%;
  }
}

.datepickerclass2 {
  font-size: 14px;
  color: #171b4a;
  width: 100%;
  height: 54px;
  border-radius: 4px;
  padding: 0 20px;
  font-size: 14px;
  color: #171b4a;
}

input:active, input:focus {
  outline: none!important;
}

.datepickerclass {
  font-size: 14px;
  color: #171b4a;
  width: 100%;
  height: 54px;
  border-radius: 4px;
  padding: 1px 20px;
  font-size: 14px;
  color: #171b4a;
}


/* Create the checkmark/indicator (hidden when not checked) */
._checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
._container input:checked~._checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
._container ._checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ------------------checkbox styling finish------------------------- */
/*----------------------grid section css------------------------------- */
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(150px, 1fr));

  grid-gap: 20px;
  width: 100%;
}

.grid-item {
  cursor: pointer;
}

#item-1 {
  /* background: linear-gradient(180deg, #1a1e4e00 0%, #0d1243 100%); */
  grid-row: span 2;
  position: relative;
  padding: 20px;
  height: auto;
  width: 100%;
}

#item-2 {
  /* background: linear-gradient(180deg, #1a1e4e00 0%, #0d1243 100%),
    url(assets/backgrounds/harshil.png); */
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: span 2;
  position: relative;
  padding: 20px;
  height: 300px;
  width: 100%;
}

#item-3 {
  /* background: linear-gradient(180deg, #1a1e4e00 0%, #0d1243 100%); */
  position: relative;
  padding: 20px;
  height: 300px;
  width: 100%;
}

#item-4 {
  /* background: linear-gradient(180deg, #1a1e4e00 0%, #0d1243 100%),
    url(assets/backgrounds/trees.png); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 20px;
  height: 300px;
  width: 100%;
}

/* Tablet Devices */
@media (max-width: 768px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .grid-wrapper .grid-item {
    width: auto;
    /* height: 150px !important; */
  }

  .grid-wrapper #item-1,
  .grid-wrapper #item-2 {
    grid-column: auto;
    grid-row: auto;
  }
}

/* Mobile Devices */
@media (max-width: 640px) {
  .grid-wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  #item-1 {
    height: 300px;
  }
}
.dropdown-menu {
  position: absolute;
  list-style: none;
  top: 20px;
  left: 0;
  width: 100vw;
  width: 128px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 0.5px solid var(--unnamed-color-eaeaea);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 24px 24px #0000000d;
  border: 0.5px solid #eaeaea;
  opacity: 1;
  z-index: 99;
}

a {
  text-decoration: none;
  color: inherit;
}

.slider {
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fb2b56;
  cursor: pointer;
}

.input {
  width: 100%;
  border: 1px solid #eaeaea;
  padding: 0.875rem;
  border-radius: 0.375rem;
  outline: none;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fb2b56;
  cursor: pointer;
}

.image-gallery-fullscreen-button,
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg,
.image-gallery-play-button {
  display: none !important;
}

/* .image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 600px !important;
} */

.wrapper {
  max-width: 1160px !important;
}

._select {
  border: none;
  outline: none;
  font-size: 14px;
  color: #171b4a;
  cursor: pointer;
  padding: 5px;
}

option {
  padding: 15px 0;
  cursor: pointer;
  background: #fff;
}

.container {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active {
  color: #2e61e6;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 32px;
  background: #2e61e6;
}

.navItem::after {
  content: "";
  width: unset !important;
  background: unset !important;
}

._sm {
  display: flex;
  align-items: flex-start;
}

/*-----------------------HOLIDAY PACKAGES ACTIVITIES CSS--------------- */
._act {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.activity h6 {
  font-size: 20px;
  margin: 15px 0;
}

.activity p {
  font-size: 16px;
  margin: 15px 0;
}

/* NAVIGATION ----------------------------------*/
._nav {
  display: none;
}

.menu-open {
  transform: translateY(0);
}

.menu-closed {
  transform: translateY(-1000px);
}

._nav ul {
  width: 100vw;
  margin: 0 auto;
  /* max-width: 1160px; */
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  position: absolute;
  left: 0;
  background: #fff;
  top: 100%;
  height: 50vh;
  justify-content: space-evenly;
  transition: transform 0.3s ease-in-out;
}

._nav ul li {
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  ._nav {
    position: relative;
    transform: none;
    height: auto;
    z-index: 10;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    /* box-shadow: 0px 1px 8px #0000001a; */
  }

  ._blurmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
}

._gz {
  display: flex;
  align-items: center;
  gap: 40px;
}

.mobiledropdown-menu {
  position: absolute;
  list-style: none;
  top: 20px;
  left: 0;
  width: 100vw;
  width: 128px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 0.5px solid var(--unnamed-color-eaeaea);
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 24px 24px #0000000d;
  border: 0.5px solid #eaeaea;
  opacity: 1;
  padding: 5px 20px;
}

.mobileLink {
  margin-right: unset !important;
}

.scrolls::-webkit-scrollbar {
  width: 4px;
}

.scrolls::-webkit-scrollbar-thumb {
  width: 4px;
  background: lightgrey;
  border-radius: 10px;
}

.scrollsdown::-webkit-scrollbar {
  height: 4px;
}

.scrollsdown::-webkit-scrollbar-thumb {
  height: 4px;
  background: lightgrey;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

/* --------------------------DESKTOP SEARCH NAVIGATION------------------------- */
.packmodal {
  animation: packmodal 2s;
}

@keyframes packmodal {
  from {
    max-h: 0vh;
  }

  to {
    max-h: 80vh;
  }
}

._blurSearchmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 33;
}

._searchWrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100vw;
  z-index: 99999999999;
  height: 50vh;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

._searcholder {
  margin: 0 auto;
  padding: 60px 80px;
}

._sm {
  color: #314389;
  font-size: 16px;
}

._inputWrapper {
  margin: 30px 0;
  display: flex;
  width: 95%;
  align-items: center;
  border-bottom: 1px solid #b4b5c4;
}

._input {
  font-size: 28px;
  letter-spacing: 0px;
  color: #b4b5c4;
  outline: none;
  border: none;
  padding: 10px;
  width: 100%;
}

._close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f4f8fa;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

._popular {
  display: flex;
  align-items: center;
  gap: 10px;
}

._search {
  display: flex;
  gap: 30px;
}

._pop {
  font-size: 14px;
}

.searchResults {
  font-size: 14px;
  color: #2e61e6;
  cursor: pointer;
}

._searchAny {
  margin: 40px 0;
}

.searchTitle {
  font-size: 14px;
}

._smSearch {
  margin: 20px 0;
  display: flex;
  gap: 30px;
}

.searchIcon {
  width: 52px;
  height: 52px;
}

._searchWrap {
  display: flex;
  align-items: center;
  width: 385px;
  height: 127px;
  background: #eff7fa;
  padding: 30px 20px;
  gap: 20px;
}

._smSe h6 {
  font-size: 18px;
}

._smSe p {
  font-size: 14px;
  line-height: 1.5;
}

.searchmenu-open {
  transform: translateY(0);
  position: fixed;
  top: 0;
  left: 0;
  background: #ffff;
  width: 100vw;
  z-index: 9999999;
  transition: transform 0.3s ease-in-out;
}

.searchmenu-closed {
  transform: translateY(-1000px);
  transition: transform 0.3s ease-in-out;
}

/* -------------- Buttons --------------- */
._primary-btn {
  display: inline-block;
  width: auto;
  padding: 16px 32px;
  font-size: 18px;
  border: none;
  outline: none;
  color: #fff;
  background: #2e61e6;
  border-radius: 8px;
  cursor: pointer;
}

/* --------------media queries------------ */

@media (max-width: 768px) {
  ._searchWrapper {
    height: 60vh;
    z-index: 9999999999999;
  }
}

@media (max-width: 680px) {
  ._popular {
    display: none;
  }

  ._searchAny {
    display: none;
  }

  ._searchWrapper {
    height: auto;
  }

  ._sm {
    display: none;
  }

  ._inputWrapper {
    margin: 5px 0;
    border: none;
  }

  ._searcholder {
    padding: 10px 20px;
  }

  ._inputWrapper input {
    font-size: 14px;
  }

  ._close {
    width: 20px;
    height: 20px;
  }

  ._input {
    padding: 8px;
  }
}

.spin {
  width: 1.3rem;
  height: 1.3rem;
  border-top: 0.2rem solid white;
  border-right: 0.2rem solid transparent;
  border-bottom: 0.2rem solid white;
  border-left: 0.2rem solid white;
  border-radius: 50%;
  animation: spin 600ms linear infinite
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
textarea {
  resize: none;
}
@keyframes ping {

  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.barcodeimg {
  transform: rotate(-90deg);
}

.rolled {
  animation: rolled 600ms;
}

@keyframes rolled {
  to {
    transform: rotate(180deg);
  }
}

.backrolled {
  animation: backrolled 600ms;
}

@keyframes backrolled {
  to {
    transform: rotate(-180deg);
  }
}
.bgdeals {
background: url(./assets/backgrounds/tripbg.jpg)center/cover no-repeat;
  position: relative;
}
.firstspin {
  animation: firstspin 1s linear infinite;
}
@keyframes firstspin {
  to {
    transform: rotate(360deg);
  }
}

.secondspin {
  animation: secondspin 1s linear infinite;
}
@keyframes secondspin {
  to {
    transform: rotate(-360deg);
  }
}

.funds::before {
  content: '';
  position: absolute;
  bottom: -0.6rem;
  left: 1rem;
  border-width: 0.4rem;
  border-color: #2e61e6 transparent transparent #2e61e6;
  border-style: solid;
}

:root {
	/* --hue: 223; */
	/* --bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%); */
	--trans-dur: 0.6s;
	/* font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320)); */
}
main {
	padding: 1.5em 0;
}
.ip {
	width: 8em;
	height: 8em;
}
.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 1s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.ip__track {
		stroke: hsl(var(--hue),90%,15%);
	}
}
.lds {
	stroke-dasharray: 269.7405090332031px;
	stroke-dashoffset: 0;
	animation: heartBeat 2s linear reverse infinite;
	transform: rotate(-90deg);
}

@keyframes heartBeat {
	50% {
		stroke-dashoffset: 269.7405090332031px;
	}
	50.01% {
		stroke-dashoffset: -269.7405090332031px;
	}
}
.tf:hover {
  transform: scale(1.03);
}
.tf {
  transition: all 50ms ease-in-out;
}

.bgkyc {
  background: url(./assets/backgrounds/img9.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.imageListDiv {
  height: 0;
  transition: height 300ms;
}
.imageList:hover .imageListDiv{
height: 7rem;
}
.tops {
  animation: tops 200ms;
}
@keyframes tops {
  from {
    transform: translateY(-40rem);
  }
  to {
    transform: translateY(0rem);
  }
}